<nav>

    <div class="nav-btn">
        Movies
    </div>
    <div class="nav-btn">
        Genres
    </div>
    <div class="nav-btn">
        Actors
    </div>
    <div class="nav-btn">
        Directors
    </div>

</nav>