<nav class="navbar">

    <a  href="/movies" class="nav-btn">
        Movies
    </a>
    <a href="/genres" class="nav-btn">
        Genres
    </a>
    <a href="/actors" class="nav-btn">
        Actors
    </a>
    <a href="/directors" class="nav-btn">
        Directors
    </a>

</nav>